body{
    background-image: url(images/mad-libs-background.jpg)
}

h1{
    font-family:"Palette Mosaic";
    color: #843000;
    font-size: 64px;
    text-align: center;
    margin-bottom: 0;
}

h2{
    font-family: "Outfit";
    color: #361D2E;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

main h2{
    color: #F8F0E1;
    font-size: 32px;
    text-align: left;
    margin-bottom: 10px;
}

#madlib-overlay p{
    color: #F8F0E1;
    font-family: "Outfit";
    font-size: 16px;
    line-height: 2em;
    font-weight: 300;
}

#close{
    background-color: #F8F0E1;
    color: #361D2E;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
}

#close:hover{
    background-color: #DBBDD2;
}

#error{
    display: block;
    text-align: left;
    color: #FFB185;
    font-family: "Outfit";
    font-size: 20px;
    padding: 10px;
}
span{
    background-color: #dbbdd2d1;
    color: #361D2E;
    padding: 1px 8px;
    font-weight: 400;
}


form label{
    color: #F8F0E1;
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
   
}

form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type="text"] {
  background-color: #F8F0E1; 
  border-color: #361D2E;
}

input[type="text"]:focus {
    border: 1px solid #FFB185;
    outline: solid #FFB185;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"]{
    background-color: #F8F0E1;
    color: #843000;
    font-weight: 400;
    font-family: "Outfit";
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #FFB185;
}

main{
    background-color: #843000;
    width: 600px;
    margin: auto;
    padding: 40px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr) ;
    gap: 10px;
       
}

#madlib-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    
    width: 600px;
    padding: 30px;
    top: 60%;
    left: 50%;
    background-color: #361D2E;
    transform: translate(-50%, -50%); 

    
}



.top-star{
    position: fixed;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%); 

}

.bottom-star{
    position: fixed;
    right: 10%;
    bottom: 10%;
    transform: translate(-50%, -50%); 

}

.bottom-star, .top-star {
    animation: float 3s ease-in-out infinite;
}

    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }

