body{
    background-image: url(images/mad-libs-background.jpg)
}

h1{
    font-family:"Palette Mosaic";
    color: #843000;
    font-size: 64px;
    text-align: center;
    margin-bottom: 0;
}

h2{
    font-family: "Outfit";
    color: #361D2E;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

main h2, #madlib-overlay h2{
    color: #F8F0E1;
    font-size: 32px;
    text-align: left;
    margin-bottom: 10px;
}

#madlib-overlay p{
    color: #F8F0E1;
    font-family: "Outfit";
    font-size: 16px;
    line-height: 2em;
    font-weight: 300;
}

#close{
    /* background-color: #F8F0E1;
    color: #361D2E;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    width: 200px; */
    box-sizing: border-box;
    background-color: #F8F0E1;
    color: #361D2E;
    font-weight: 400;
    font-family: "Outfit";
    border-radius: 20px;
    padding: 10px 60px;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #361D2E;
    transition: all 0.3s;
}

#close:hover{
    box-shadow: 4px 4px 0px #361D2E;
    transform: translate(-2px, -2px);
}

#error{
    text-align: left;
    color: #F8F0E1;
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 10px;
}
span{
    background-color: #dbbdd2d1;
    color: #361D2E;
    padding: 1px 8px;
    font-weight: 400;
}


form label{
    color: #F8F0E1;
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
   
}

form input{
  width: 100%;
  margin: 10px 0;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid;
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
}

input[type="text"] {
  background-color: #F8F0E1; 
  border-color: #361D2E;
}

input[type="text"]:focus {
    box-shadow: 4px 4px 0px #361D2E;
}

input[type="submit"]{
    background-color: #F8F0E1;
    color: #361D2E;
    font-weight: 400;
    font-family: "Outfit";
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid #361D2E;
    transition: all 0.3s;


}

input[type="submit"]:hover{
    box-shadow: 4px 4px 0px #361D2E;
    transform: translate(-2px, -2px);
}

main{
    background-color: #843000;
    width: 40vw;
    margin: auto;
    padding: 40px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr) ;
    gap: 10px;
       
}

#madlib-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.642);

}

#madlib-overlay article{
    box-sizing: border-box;
    background-color: #361D2E;
    padding: 80px;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.top-star{
    position: fixed;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%); 

}

.bottom-star{
    position: fixed;
    right: 10%;
    bottom: 10%;
    transform: translate(-50%, -50%); 

}

.bottom-star, .top-star {
    animation: float 3s ease-in-out infinite;
}

    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }

